replace block leftmenu
	append block style
		link(rel='stylesheet', href='/stylesheets/leftmenu.css')
	#leftmenu
		ul#navigationMenu
			li
				a.home(href='#')
					span Home
			li
				a.about(href='#')
					span About
			li
				a.services(href='#')
					span Services
			li
				a.portfolio(href='#')
					span Portfolio
			li
				a.contact(href='#')
					span Contact us
