replace block topmenu
	append block style
		link(rel='stylesheet', href='/stylesheets/topmenu.css')
	#topmenu.menuholder
		ul.menu
			li
				a.red(href='http://www.script-tutorials.com/') Home
			li
				a.orange(href='http://www.script-tutorials.com/') Tutorials
			li
				a.yellow(href='http://www.script-tutorials.com/category/resources/') Resources
			li
				a.green(href='http://www.script-tutorials.com/category/resources/') Other
			li
				a.blue(href='http://www.script-tutorials.com/about/') About
			li
				a.violet(href='http://www.script-tutorials.com/creating-css3-dropdown-menu-3/') Back
