*
	margin: 0
	padding: 0

body
	font-size: 14px
	color: #666
	background: #111 no-repeat
	background-image: -webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#444), to(#111))
	font-family: Arial, Helvetica, sans-serif
	//padding: 50px
	//font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF
