body
	//border: 1px blue solid

div
	//border: 1px red solid
	display: table-cell
	margin-left: auto
	margin-right: auto
	text-align: center

#topmenu
	display: block
	//width: 100%
	//margin-left: auto
	//margin-right: auto
	//text-align: center

#leftmenu
	//width:19%

#content
	width: 100%
	//text-align: left
	vertical-align: middle
	//position: relative
	//float: right

#downmenu
	display: block
	width: 100%
